<?xml version="1.0"?>
<!--
/**
 * @category   Dacod
 * @package    Dacod_MissingProductImagesReport
 * @author     Dacod Magagula
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dacod_MissingProductImagesReport" setup_version="0.1.16">
    	<sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_CatalogImportExport"/>
        </sequence>
    </module>
</config>