<?xml version="1.0"?>
<!--
/**
 * @category   Dacod
 * @package    Dacod_MissingProductImagesReport
 * @author     Dacod Magagula
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      	<add id="Dacod_Missingimagesreport::MissingProductImagesReport" title="Missing Product Images Report" module="Dacod_MissingProductImagesReport" sortOrder="50" parent="Magento_Catalog::inventory" action="dacod_missing_product_images_report/report/" resource="Dacod_MissingProductImagesReport::report"/>
    </menu>
</config>
